<html>
<head>
<title>Personal-pack.</title>
<meta http-equiv="CONTENT-TYPE" content="text/html; charset=EUC-KR">
        <meta name="description" content="Personal-pack.">
        <meta name="keywords" content="퍼스널팩,남성의류,패션">

</head>
<link rel="shortcut icon" href="/shopimages/personalp77/favicon.ico" type="image/x-icon">
<div class="header">
      <% include top %>
</div>
<div class="left">
      <% include left %>
</div>
<!--<frameset rows="0,*" border=0 MARGINWIDTH=0 MARGINHEIGHT=0>
<frame src="/top.html" name=topmenu MARGINWIDTH="0" MARGINHEIGHT="0" scrolling=no noresize>
<frame src="../views/temp" name=main MARGINWIDTH="0" MARGINHEIGHT="0" scrolling=auto>
</frameset>-->
</html>