<table class="menu">
  <tr>
    <td scope="col"><a href="/html/newpage.html?code=3"><!--<img src="/design/personalp77/newleft/aboutus.gif" width="77" height="17">-->ABOUT US</a></td>
  </tr>
  <tr>
    <td scope="col"><a href="/board/board.html?code=personalp77"><!--<img src="/design/personalp77/newleft/aboutus.gif" width="77" height="17">-->QnA</a></td>
  </tr>
  <tr>
    <td scope="col"><a href="/board/board.html?code=personalp77_board1"><!--<img src="/design/personalp77/newleft/aboutus.gif" width="77" height="17">-->공지사항</a></td>
  </tr>
  <tr>
    <td scope="col"><a href="/html/newpage.html?code=2"><!--<img src="/design/personalp77/newleft/aboutus.gif" width="77" height="17">-->CONTACT</a></td>
  </tr>
  <tr>
    <td scope="col"><a href=/shop/member.html?type=mynewmain><!--<img src="/design/personalp77/newleft/aboutus.gif" width="77" height="17">-->마이페이지</a></td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/basket.html"><!--<img src="/design/personalp77/newleft/aboutus.gif" width="77" height="17">-->쇼핑카트</a></td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=020&type=O"><!--<img src="/design/personalp77/newleft/aboutus.gif" width="77" height="17">-->개인결제창</a></td>
  </tr>
  <tr>
    <td scope="col"><a href=/shop/confirm_login.html?type=myorder><!--<img src="/design/personalp77/newleft/aboutus.gif" width="77" height="17">-->주문내역</a></td>
  </tr>
  <tr>
    <td scope="col"><a href=/shop/member.html><!--<img src="/design/personalp77/newleft/aboutus.gif" width="77" height="17">-->회원가입</a></td>
  </tr>
  <tr height="10">
    <th scope="col">
    </th>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=027&type=O">전체제품</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=026&type=O">신상품</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/html/newpage.html?code=27">룩북</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/reviewmore.html"><b>상품리뷰</b></a>
    </td>
  </tr>
  <tr height="10">
    <th scope="col">
    </th>
  </tr>
  <tr>
    <th scope="col"><a href="/shop/shopbrand.html?xcode=037&type=P">이벤트&세일</a>
    </th>
  </tr>
  <tr height="10">
    <th scope="col">
    </th>
  </tr>
  <tr>
    <th scope="col"><a href="/shop/shopbrand.html?xcode=023&type=O"><b>아우터류</b></a>
    </th>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=021&type=O">가죽재킷</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=013&type=O">코트</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=012&type=O">재킷</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=011&type=O">후드</a>
    </td>
  </tr>
  <tr height="10">
    <th scope="col">
    </th>
  </tr>
  <tr>
    <th scope="col"><a href="/shop/shopbrand.html?xcode=022&type=O"><b>셔츠류</b></a>
    </th>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=007&type=O">체크셔츠</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=009&type=O">베이직셔츠</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=003&type=O">패턴셔츠</a>
    </td>
  </tr>
  <tr height="10">
    <th scope="col">
    </th>
  </tr>
  <tr>
    <th scope="col"><a href="/shop/shopbrand.html?xcode=024&type=O"><b>상의류</b></a>
    </th>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=001&type=O">티셔츠</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=036&type=O">카라티셔츠</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=014&type=O">스웨터셔츠</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=006&type=O">나그랑티셔츠</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=005&type=O">가디건</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=008&type=O">니트</a>
    </td>
  </tr>
  <tr height="10">
    <th scope="col">
    </th>
  </tr>
  <tr>
    <th scope="col"><a href="/shop/shopbrand.html?xcode=043&type=O">바지류</a>
    </th>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=017&type=O">팬츠</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=018&type=O">진</a>
    </td>
  </tr>
  <tr height="10">
    <th scope="col">
    </th>
  </tr>
  <tr>
    <th scope="col"><a href="/shop/shopbrand.html?xcode=025&type=O">악세서리류</a>
    </th>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=015&type=O">머플러</a>
    </td>
  </tr>
  <tr>
    <td scope="col"><a href="/shop/shopbrand.html?xcode=019&type=O">벨트</a>
    </td>
  </tr>
  <tr height="10">
    <th scope="col">
    </th>
  </tr>
  <tr>
    <td scope="col"><a href="/html/newpage.html?code=8">출시예정제품</a>
    </td>
  </tr>
  <tr height="10">
    <th scope="col">
    </th>
  </tr>
</table>
   <table width="77" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <th scope="col"><a href="/board/board.html?code=personalp77"><!--<IMG SRC="http://personalp77.img16.kr/CS12.jpg"><BR>-->
       <img SRC="/images/design/personalp77/packup/CS12.jpg"></th>
     </tr>
   </table>