
<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=EUC-KR">
  <meta name="description" content="Personal-pack.">
  <meta name="keywords" content="퍼스널팩,남성의류,패션">
  <title>Personal-pack.</title>

  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <script language="javascript" src='/javascripts/script.js' charset='EUC-KR'/>
  <img id ="subtitle_info" style="position:absolute; display:none"  />

  <link rel="shortcut icon" href="/shopimages/personalp77/favicon.ico" type="image/x-icon">
</head>
<IFRAME id=loginiframe name=loginiframe style="display:none" frameborder='no' scrolling=no></IFRAME>
<div id="basketpage" name="basketpage" style="position:absolute; visibility:hidden;"></div>
</head>
<body bgcolor="white" topmargin=0 leftmargin=0 marginheight=0 marginwidth=0>
<div id="detailpage" name="detailpage" style="position:absolute; visibility:hidden;"></div>
<div id="MK_opt_preview" style="position:absolute;visibility:hidden;z-index:100"></div>

<script type="text/javascript" src="/javascripts/flash.js"></script>

<meta http-equiv="ImageToolbar" content="No">
<div id="ysfss_bar_container" style="position:absolute; top:0px; left:0px;">
</div>
<% include top %>

<!-- 전체 레이아웃 테이블 -->
<form action="/shop/shopbrand.html" method=post name=search>
<td valign=top width=150 height=100% id=mk_left>

<!--<table width="100" border="0" cellspacing="0" cellpadding="0">
-->
<% include left %>

            <script>
                // login id setting
                if(typeof document.search != "undefined" && typeof document.search.id != "undefined" && typeof document.search.save_id != "undefined") {
                    document.search.id.value = getCookieMS('save_id');
                    if(document.search.id.value=="null") document.search.id.value="";
                    if(typeof document.search.id != "undefined" && document.search.id.value.length>0) document.search.save_id.checked=true; 
                }
            </script></td></form>
<form name=formlogin method=post action=/html/mainm.html>
<input type=hidden name=id><input type=hidden name=passwd>
<input type=hidden name=type value=login>
<input type=hidden name=returnurl value="/html/mainm.html?&ref=https:">
<input type=hidden name=ssl>
<input type=hidden name=sslid value="personalp77">
<input type=hidden name=sslip value="www.personal-pack.com">
<input type=hidden name=formname value='formlogin'>
<input type=hidden name=sendfunc value='formnewsend'>
<input type=hidden name=msecure_key>
<input type=hidden name=save_id>
</form>
<td valign=top width=640 align=center id=mk_center>

<!--- 중앙화면---->

<table width="1300" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center"><div align="center"></div></td></tr>         
      <tr><td><div align="center" style="padding:50 80 50 0">

 <table width="800" border="0" cellspacing="0" cellpadding="0">
            <tr>
    <th scope="col"><a href="/html/newpage.html?code=27"><IMG SRC="/images/design/personalp77/main/2016MAINSUMMER.jpg"><BR></th>
  </tr>
       <tr>
    <th scope="col"><a href="/html/newpage.html?code=8"><IMG SRC="/images/design/personalp77/main/2016UPCOMING.jpg"><BR></th>
  </tr>
       <tr>
    <th scope="col"><a href="/shop/reviewmore.html"><IMG SRC="/images/design/personalp77/main/16REVIEW11.jpg"><BR></th>
  </tr>
       <tr>
    <th scope="col"><a href="/shop/shopbrand.html?xcode=037&type=P"><IMG SRC="/images/design/personalp77/main/SEASONOFF1.jpg"><BR></th>
  </tr>

</table>
</table>

					</TD></TR>
				<tr><td height="20"></td></tr>
				<Tr>
					<Td align="Center" valign="middle">
					
					            <table></table>
            <table border=0 cellpadding=0 cellspacing=0 width=100%>
            <tr></tr></table>	
					</TD></TR>
				<tr><td height="20"></td></tr>
			</TABLE>
		</TD>
	</tr>

</table>


<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
	<td></td>
	<td align="left" valign="top" style="padding:10px;"></td>
	
  </tr>
  </table>
 <table width="100%" cellpadding="0" cellspacing="0">
 <tr>
    <td align="center"></td>
  </tr>
    <tr>
    <td align="center"></td>
  </tr>
  <tr>
    <td align="center"></td>
  </tr>
    <tr>
    <td align="center"></td>
  </tr>	
</table>
<tr><td colspan=4 class=mkbottom></form><table class=mkbottom width="1200" border="0" cellspacing="0" cellpadding="0">
<tr><td align="left" style="padding:5 0 0 0 ">
  <tr>
   <th scope="col"><IMG SRC="/images/design/personalp77/packup/MAINDOWN1.jpg"><BR>
</th>
  </tr>
</table>
</td></tr>
</table> 

<script type="text/javascript" src="/javascripts/cookie.js"></script>


        <div id="MAKESHOPLY1" style="cursor: move;position:absolute; top:30px; left:80px; width:50; height:50; z-index:99; display:none; background:white;filter: alpha(opacity=85)" onMouseDown=start_drag('MAKESHOPLY1')>
        <table border=0 cellpadding=0 cellspacing=0 width=100%>
                   <tr><td bgcolor=#FFFFFF height=50><!--table border=0 cellpadding=0 cellspacing=0 width=380-->
<center>
        </div>
<div><!-- ie8 back key free focus --></div></form></body></html>